@font-face {
  font-family: "applesdgothic";
  src: url("./../src/styles/fonts/applesdgothic.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: "redemption";
  src: url("./../src/styles/fonts/redemption.ttf") format("woff2");
};


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
